.nav-item {
  padding: 5px 10px;
}
.top-header{
  background-color: rgb(6, 7, 20) ;
}
.carouselHotnews, .News-area{
  margin-top: 40px;
}
.single-sidebar-widget{
  background-color: rgb(223, 235, 234)
}
.footer-area{
  background-color: #707070;
}
a:link {
  color: black;
}
